$titleHeight: 34px;
$bgColor: rgba(39, 77, 155, .1);
$deepBgColor: rgba(39, 77, 155, .8);
@import "~@/assets/styles/scrollbar.css";

.boxContent {
  width: 100%;
  height: 100%;

  &-public {
    height: calc(100% / 3);
    position: relative;

    &-title {
      height: $titleHeight;
      line-height: $titleHeight;
      background: url("/public/img/dataScreen/boxTitle.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-left: $titleHeight;
      color: #edf4ff;
      font-weight: bold;
      font-size: 14px;
      text-shadow: 0 0.125rem 0.25rem rgba(10, 29, 67, 0.3), 0 0 0.25rem rgba(244, 251, 254, 0.72);
    }

    &-main {
      height: calc(100% - #{$titleHeight});
      background: url("/public/img/dataScreen/boxBg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: $deepBgColor !important;
    }
  }
}
